.deals{
    font-family: 'Roboto', Arial;
    width: 190px;
    height: 39px;
    line-height: 19px;
    background-color: #f53838;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    border-radius:5px;
}

.restaurant{
    font-family: 'Roboto', Arial;
    width: 200px;
    height: 39px;
    line-height: 19px;
    background-color: #04be5a;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    text-align: center;
    border-radius:5px;
}

.pagination{
    margin:2px;
    padding:5px;
    color:steelblue;
}

.pagination:hover{
    border:1px solid grey;
    color:grey;
}